.sidebar {
	display: flex;
	flex-direction: column;
	flex: 0.35;
}

.sidebar__header {
	display: flex;
	justify-content: space-between;
	padding: 2rem;
	border-right: solid 1px lightgray;
}

.sidebar__headerRight {
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-width: 10vw;
}

.MuiSvgIcon-root {
	font-size: 2.4rem !important;
	color: gray;
}

.sidebar__search {
	display: flex;
	align-items: center;
	background-color: #f6f6f6;
	height: 4rem;
	padding: 3rem 1rem;
}

.sidebar__searchContainer {
	display: flex;
	align-items: center;
	background-color: #fff;
	width: 100%;
	height: 3.6rem;
	border-radius: 2rem;
	padding: 1rem;
}

.sidebar__searchContainer > input {
	border: none;
	outline: none;
	margin-left: 1rem;
}
